@inherits Component

<EditForm Model="Person" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />

    <FormGroupSt>
        <InputText class="form-control" @bind-Value="@Person.Name" />
        <ValidationMessage For="@(() => Person.Name)" />
    </FormGroupSt>

    <FormGroupSt>
        <InputDate class="form-control" @bind-Value="@Person.DateOfBirth" />
        <ValidationMessage For="@(() => Person.DateOfBirth)" />
    </FormGroupSt>

    <FormGroupSt>
        <InputImage Label="Select Picture" OnSelectedImage="pictureSelected" ImageURL="@imageURL" />
    </FormGroupSt>
       
    <div class="form-group form-markdown">
       <InputMarkdown @bind-Value="Person.Biography" Label="Biography" For="@(() => Person.Biography)"/>
    </div>

    @if (Nav.Uri.Contains("edit"))
    {
        <button type="submit" class="btn btn-primary">Edit</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Save</button>
    }

</EditForm>

@code {

    [Parameter] public Person Person { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    string imageURL;

    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(Person.Picture))
        {
            imageURL = Person.Picture;
            Person.Picture = null;
        }
    }

    private void pictureSelected(string imageBase64)
    {
        Person.Picture = imageBase64;
        imageURL = null;
        Console.WriteLine(imageBase64);
    }

}
